.room{
    .common{
        padding: 4% 0% 6% 0%; 
        text-align: center;
        border: 1px solid $primary-color-light;
    }
    .track{  
        font-size: 1.2rem;
    } 
    .stable{        
        background-color: $background-component-room;
        color: $primary-color-light; 
    }
    .actived{
        color: $secondary-color; 
        background-color: $primary-color-light;
    }
}    