<section class="code-event-card" ng-if="vm.show.event">
    <div class="room">
        <div class="row-info">
            <div class="column-info">
                <img ng-if="!vm.show.break" ng-src="{{vm.data.contents.authors[0].avatar}}" alt="">
                <img ng-if="vm.show.break" ng-src="build/img/icon.png" alt="">
            </div>
            <div class="column-info">
                <div class="info">
                    <p class="tittle" ng-bind="vm.data.contents.title"></p>
                    <span class="author" ng-bind="vm.data.contents.authors[0].twitterAccount"></span>
                </div>
            </div>
        </div>
        <div class="row-hours">
            <div class="column-hour">
                <div class="start-hour">
                    <i class="icon ion-arrow-right-b"></i>
                    <span ng-bind="vm.data.start"></span>
                </div>
            </div>

            <div class="column-hour">
                <span class="track" ng-bind="vm.data.track"></span>
            </div>

            <div class="column-hour">
                <div class="end-hour">
                    <span ng-bind="vm.data.end"></span>
                    <i class="icon ion-arrow-left-b"></i>
                </div>
            </div>
        </div>
    </div>
</section>