<ion-view class="home">
    <ion-header-bar align-title="center" class="search-header">
        <h1 class="title" ng-bind="vm.header"></h1>
    </ion-header-bar>
    <ion-content class="wrapper">
        <div ng-repeat="room in vm.rooms track by $index">
            <div ng-if="$even" class="row">
                <room-component class="col col-50" room="room"></room-component>
                <room-component class="col col-50" room="vm.getRoom($index+1)"></room-component>
            </div>
        </div>
    </ion-content>
</ion-view>