<ion-view class="code-search">
    <ion-header-bar align-title="center" class="search-header">
        <select class="title" ng-options="name as day.name for day in vm.days track by day.id" 
            ng-model="vm.selected">
        </select>
    </ion-header-bar>
    <ion-content>
        <section class="search-bar">
            <div class="search-item" ng-click="vm.openTimePicker(vm.startTime, 'Hora de Comienzo', 'start')">
                <i class="icon ion-ios-time-outline"></i>
                <span ng-bind="vm.startTime">
            </div>
            <div class="search-item" ng-click="vm.openTimePicker(vm.endTime, 'Hora Fin', 'end')">
                <i class="icon ion-ios-time-outline"></i>
                <span ng-bind="vm.endTime">
            </div>
        </section>
        <section>
            
        </section>
    </ion-content>
</ion-view>