<ion-view class="code-search">
    <ion-header-bar align-title="center" class="search-header">
        <select class="title" ng-options="name as day.name for day in vm.days track by day.id" ng-model="vm.selected">
        </select>
    </ion-header-bar>
    <section class="bar bar-subheader search-bar">
        <div class="search-item" ng-click="vm.openTimePicker(vm.startTime, 'start')">
            <i class="icon ion-ios-time-outline"></i>
            <span ng-bind="vm.startTime">
        </div>
        <div class="search-item" ng-click="vm.openTimePicker(vm.endTime, 'end')">
            <i class="icon ion-ios-time-outline"></i>
            <span ng-bind="vm.endTime">
        </div>
    </section>
    <ion-content class="search-content">
        <section class="events-list">
            <code-event ng-repeat="event in vm.talks" data="event"></code-event>
        </section>
    </ion-content>
</ion-view>