.room-events{
    .search-header{
        select {
            display: flex;
            width: 93%;
            text-align-last: center;
            background-color: transparent;
            border: none;
            color: $secondary-color;
        } 
    }
    .content{
        margin-top: 3.2rem;
        .box{
            background-color: white; 
        }
    }
}            