.room-events{
    .search-header{
        select{
            margin: 0 auto;  
            width: 80%;
            border: none;
            text-align-last: center;
            color: $primary-color-light; 
        }
    }
    .content{
        
    }
}