<ion-view class="room-events">
    <ion-header-bar align-title="center" class="search-header">
        <select ng-model="vm.confirmed" ng-change="vm.onSelect()">
            <option ng-repeat="room in vm.rooms track by ($index)">{{room.name}}</option>
        </select>
        <div class="bar bar-subheader">
            <span ng-click="vm.getTalksByTrack('Track 2', 0)">Viernes</span>
            <span ng-click="vm.getTalksByTrack('Track 3', 1)">Sábado</span>
        </div>
    </ion-header-bar>
    <ion-content class="content">
    </ion-content>
</ion-view>