<ion-content class="room-events" scroll="false">
    <div class="item item-select">
        <select class="select-room">
            <option class="option" ng-repeat="room in vm.rooms track by ($index)">{{room.name}}</option>
        </select>
    </div>

    <div class="days">
        <span class="day" ng-click="vm.getTalksByTrack('Track 2', 0)">Viernes</span>
        <span class="day" ng-click="vm.getTalksByTrack('Track 3', 1)">Sábado</span>
    </div>

    <ion-content scroll="true" class="content">
        <div class="room-content" ng-repeat="event in vm.events">
            <code-event data="event" ng-click="vm.goDetail(event)"></code-event>
        </div>
    </ion-content>
</ion-content>